@import 'title-accueil.scss';
@import 'button.scss';
@import 'footer.scss';

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background1: #f3f3f3;
$color-background2: #fafafa;
$color-background3: #f6f6f6;
$padding: 32px 25px;

/* Loader */
.loader {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.90);
    animation: loader 0.01s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 10000;
    display:flex;
    align-items:center;
    justify-content:center;
  
    &__item {
      height: 20px;
      width: 20px;
      border-radius: 100%;
      animation: jump 1s;
      animation-iteration-count: 1;
  
      &Container {
        display: flex;
        width: 80px;
        justify-content: space-between;
      }
  
      &--1 {
        background-color: $color-primary;
      }
    
      &--2 {
        background-color: $color-secondary;
        animation-delay: 0.25s;
      }
    
      &--3 {
        background-color: $color-tertiary;
        animation-delay: 0.5s;
      }
    }
}

@keyframes loader{
    to{
        opacity:0;
        z-index:-10
    }
}

@keyframes jump{
    0%{
        transform:translateY(0)
    }

    25%{
        transform:translateY(.5rem)
    }

    75%{
        transform:translateY(-.5rem)
    }

    to{
        transform:translateY(0)
    }
}

  

/* Header */
header {
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 10px rgb(223, 223, 223);
    padding: 16px;

    img {
        width: 200px;
    }
}

.lieu {
    display: flex;
    justify-content: center;
    background-color: $color-background1;
    padding: 20px 16px;
    font-size: 19px;
    font-style: normal !important;
    font-weight: 700;

    address{
        font-style: normal;
        font-weight: 400;
    }

    .fa-map-marker-alt{
        margin-right: 20px;
    }
}

a{
    text-decoration: none;
    color: black;
}

.reservation{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 32px 32px 45px 32px;
    background-color: $color-background2;

    .subtitle-reservation{
        margin-top: 11px;
        margin-bottom: 24px;
        font-weight: 300;
    }

    a.btn-recherche{
        color: white !important;

        .btn{
            font-size: 18px;
            padding: 12px 24px;
        }
    }
}

.fonctionnement{
    padding: $padding;

    .container{
    width: 100%;
    display: flex;
    text-align: left;
    }

    .title-fonction{
        margin-top: 0;
    }

    .step-number{
        background: $color-primary;
        color: white;
        border-radius: 100%;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: -1px;
        margin-top: 17px;
    }

    ol.etapes{
        display: flex;
        flex-direction: column;
        counter-reset: filter;
        position: relative;
    }

    .filter-button{
        display:flex;
        background-color: $color-background3;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.125);
        border-radius: 20px;
        height: 60px;
        margin: 16px 0 16px 12px;
    }


    .filter-text{
        margin-top: 20px;
        font-family: $font-family-text;
    }

    i.fa-mobile-alt{
        margin-right: 16px;
        margin-top: 21px;
        margin-left: 25px;
        color: #7e7e7e;
    }

    i.fa-list-ul{
        margin-right: 16px;
        margin-top: 21px;
        margin-left: 25px;
        color: #7e7e7e;  
    }

    i.fa-store{
        margin-right: 16px;
        margin-top: 21px;
        margin-left: 25px;
        color: #7e7e7e; 
    }
}

.restaurants{
    background-color: $color-background3;
    padding: $padding;

    .menu-carte{
        display: flex;
        flex-direction: column;
        padding: 15px 0;
    }

    .background-carte{
        background-color: #FFF;
        border-radius: 15px;
        position: relative;
    }

    .img-menu{
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }

    .nouveau{
        background-color: $color-tertiary;
        color: #0C7B71;
        border-radius: 2px;
        position: absolute;
        padding: 8px;
        top: 16px;
        right: 12px;
    }

    .description-menu{
        display: flex;
        align-items: center;
        padding: 16px;
    }
}

/* Animation coeur */

.fa-heart{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: x-large;
    position: absolute;
    color: gray;
    right: 30px;
}

.checkbox{
    display: none;
}

.checked {
    display: none;
    transform: scale(0);
    color: transparent;
    background-clip: text;
    background: linear-gradient(180deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
}

.checkbox:checked ~ .checked {
    transform: scale(1);
    transition-duration: .5s;
    display: inline-block;
}
  
.checkbox:checked ~ .unchecked {
    display: none;
}

/*@keyframes{
    from{
        transform: scale(0);
    }

    to{
        transform: scale(1);
    }
}*/